.container-du-blog{
    margin: 30px;
}
.text1{
    position: relative;
    z-index: 10;
}
.bloc{
    w
}
.image1{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../femme.jpeg');
    background-size: cover;
    z-index: ;
    color:white;
    opacity:0.9;
}
.image2{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../deleg.jpeg');
    background-size: cover;
    z-index: ;
    color:white;
    opacity:0.9;
}

.image3{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../esis.png');
    background-size: cover;
    z-index: ;
    color:white;
    opacity:0.9;
}

.image4{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../Conference.jpg');
    background-size: cover;
    z-index: ;
    color:white;
    opacity:0.9;
}

.image5{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../construction.jpg');
    background-size: cover;
    z-index: ;
    color:white;
    opacity:0.9;
}
